<aside id="colorlib-aside" role="complementary" class="js-fullheight">
    @await Html.PartialAsync("/Views/Shared/Partials/_MenuLeft-NavigationBar.cshtml")

    <div class="colorlib-footer">
        @await Html.PartialAsync("/Views/Shared/Partials/_MenuLeft-MiniLogo.cshtml")

        @await Html.PartialAsync("/Views/Shared/Partials/_MenuLeft-Newsletter.cshtml")

        @await Html.PartialAsync("/Views/Shared/Partials/_MenuLeft-Footer.cshtml")
    </div>
</aside>