<form action="/search">
    <div class="input-group mb-3">
        <input name="q" type="text" class="form-control" placeholder="Something">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
</form>