<div class="container p-0">
    <h1 id="colorlib-logo" class="mb-4 mt-4 p-0"><a asp-controller="home" asp-action="about" style="background-image:url(@Url.Content("~/assets/images/Temp/bg_1.jpg"));">Qalib <span>Qurbanov</span></a></h1>
</div>