@model string

<div class="col-xl-8 py-5 px-md-5">
    <div class="row pt-md-4">
        <div class="alert mt-2 mb-2 mr-2 ml-2 border-left rounded-0 position-relative text-center ml-auto mr-auto" style="width:fit-content; height: fit-content;">
            @Html.Raw(@Model)
        </div>
    </div>
</div>